<div class="upcoming-event">
    <h1>Dashboard</h1>
     <button mat-raised-button color="basic" (click)="openDialog()">Add Event</button>
 </div>
 <hr>

<section>
    <div mat-dialog-content>
      <p>What's the name of the event?</p>
      <mat-form-field>
        <mat-label>Add name of event here!</mat-label>
        <input type="name" matInput [(ngModel)]="data.eventInfo">
      </mat-form-field>
    </div>
  
    <div mat-dialog-content>  
      <p>Pick up the Event date</p>
      <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
    
    <div mat-dialog-content>  
      <p>Please add detials of this new event</p>
      <mat-form-field>
        <mat-label>Add detials here!</mat-label>
        <input matInput [(ngModel)]="data.eventsDetialInfo">
      </mat-form-field>
    </div>
    
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [mat-dialog-close]="{aa:data.eventInfo, jj:data.eventsDetialInfo, bb:data.date}" cdkFocusInitial>Ok</button>
    </div>
  </section>