.main-info {
    width: 98%;
}

.main-info, app-events-list {
    display: flex;
    flex-direction: row;
    flex:1;
    flex-direction: row;
    margin-left: 180px;
    font-family: 'Bodoni Modza', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-top: 140px;
}

section {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 98%;    
    margin: 0;
    padding: 0;
}
mat-sidenav-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.drower {
    width: 500px;
    height: 100%;
    max-width: 100%;
}

app-table-preset {
    height: fit-content;
    width: 100%;
}

/* Phone Sizes */
@media (max-width:480px) {
.main-info {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    height: fit-content;
    margin-top:110px;
    margin-left: 10px;
    
}
}
  /* iPads and tables */
  @media (min-width:481px) and (max-width:1200px) {
    .main-info {
        margin: 0;
        margin-top: 150px;
        justify-content: start;
        align-items: start;
    }

  }
  
  /* Laptops */
  @media (min-width:1201px) and (max-width:1600px){
    .main-info {
        margin: 0;
        display: flex;
        justify-content: start;
        width: 98%;
        height: fit-content;
        margin-top:130px;
        margin-left: 230px;
    }
    }
    
/* 4K Monitor */
  @media (min-width: 1601px){
   

  }