<!-- <mat-sidenav-container>
  <mat-sidenav class="drower" #sidenav role="navigation">
    <app-login (onClick)="isLogin = false" *ngIf="isLogin"></app-login>
    <app-signup (onClick)="isLogin = true" *ngIf="!isLogin"></app-signup>
  </mat-sidenav>
  <mat-sidenav-content> 
    <app-welcome (openSignNav)="sidenav.toggle()"></app-welcome>
  </mat-sidenav-content>
</mat-sidenav-container> -->



<section>
  <app-main-manu></app-main-manu>
  <!-- <app-events-list></app-events-list> -->

  <div class="main-info">

    <!-- Under here is a preset of a table, try to use this table for the whole of the web app  -->
    <app-table-preset></app-table-preset>
</div>
</section>
